 .container {
    border: 1px solid #cccccc;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background-color: #fff; /* Theme 1: #4A6C6F */
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin:auto;
}

.button {
    height: 60px;
    padding: 5px;
    background-color: #C0BCB5; /* Theme 2: #C0BCB5 */
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
}

.button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #fff;
    background-color: #ED474A;
}

.clear {
    background-color: #f2be16; 
    border-color: black;
    color: #000;
    width: 100px;
    height: 30px;
    margin-left: 90px;
    margin-right: 10px;
}

.clear:hover {
    background-color: #000;
    color: #fff;
}

.equal-sign {
    background-color: #ED474A; /* Theme 3: red */
    border-color: #25a8e0;
    color: #fff;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.screen {
    background-color: rgb(171, 219, 231);
    justify-content: left;
    color: black;
    font-size: medium;
    width: 70%;
    height: 30%;
    cursor: default;
    padding: 10px;
    padding-left: 40%;
    margin: 0 20px;
    margin-bottom: 10px;
}

